.containerForTest {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .containerForTest {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .containerForTest {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .containerForTest {
    width: 1170px;
  }
}
/* Extra Large */
@media (min-width: 1400px) {
  .containerForTest {
    width: 1470px;
  }
}
